extends ../layout

block content
  h3 File Upload Form
  .row
    .col-sm-6
      p All files will be uploaded to "/uploads" directory.
      form(action='/upload', enctype='multipart/form-data', method='POST')
        .form-group
          label.control-label File Input
          input(type='file', name='myFile', id='file_input')
        button.btn.btn-primary(type='submit') Submit
