extends ../layout

block content
  h1 TruRecruit
  p.lead We do cool stuff.
  hr
  a.btn.btn-default(href='#', role='button') View details »
  div
    img(src='https://pbs.twimg.com/media/CaU93W2UUAEp_kA.jpg')
