extends ../layout

block content
  h1 TruRecruit
  p.lead We do cool stuff.
  hr
  a.btn.btn-default(href='#', role='button') View details »
  div
    img(src='https://pbs.twimg.com/media/CaU93W2UUAEp_kA.jpg')

  h3 File Upload Form
  .row
    .col-sm-6
      p All files will be uploaded to "/uploads" directory.
      form(role='form', enctype='multipart/form-data', method='POST')
        .form-group
          label.control-label File Input
          input(type='file', name='myFile')
        button.btn.btn-primary(type='submit') Submit
