.container
  .row
    .col-md-5.col-md-offset-7
      .feature-list
        h3 How Does Tru Recruit Work?
        p Tru Recruit makes large scale recuirt easy and painless.
        ul.features-stack
          li.feature-item
            .feature-icon
              span.icon(data-icon='')
            .feature-content
              h5 Scan in Canidates
              p Painlessly scan in a canidate's unique QR code
          li.feature-item
            .feature-icon
              span.icon(data-icon='')
            .feature-content
              h5 Manage Resumes
              p
                | Once scanned, resumes appear instantly on any connect laptop or tablet, and is immediately injected into the databaser
          li.feature-item
            .feature-icon
              span.icon(data-icon='')
            .feature-content
              h5 Export Data
              p Be able to export canidate data in a variety of formats
