footer  
  .container
        .row
          .col-md-7
            .footer-links
              ul.footer-group
                li
                  a(href='#features') Features
                li
                  a(href='#download') Sign up
              p
                | Copyright © 2016
                a(href='#') TruRecruit
                br
          .social-share
            p Keep up with TruRecruit
            a.twitter-share(href='#')
              i.fa.fa-twitter
            a.facebook-share(href='#')
              i.fa.fa-facebook
