section.hero
  section.navigation
    header
      .header-content
        .logo
          a(href='#')
            img(src='img/logo.png', alt='Sedna logo')
        .header-nav
          nav
            ul.primary-nav
              li
                a(href='#features') How
              li
                a(href='#assets') MANAGE
              li
                a(href='#about') about
            ul.member-actions
              li
                a.login(href='#download') Log in
              li
                a.btn-white.btn-small(href='#download') Sign up
        .navicon
          a.nav-toggle(href='#')
            span
