.container
  .row
    .col-md-6.col-md-offset-3
      h3 Get started with TruRecruit
      p Start your company today!
      form.signup-form(action='#', method='POST', role='form')
        .form-input-group
          i.fa.fa-envelope
          input(type='text', placeholder='Enter your email', required='')
        .form-input-group
          i.fa.fa-lock
          input(type='text', placeholder='Enter your password', required='')
        button.btn-fill.sign-up-btn(type='submit') Sign up for free
