.container
  .row
    .col-md-12
      .flexslider
        ul.slides
          li
            .avatar
              img(src='img/avatar.jpg', alt='Sedna Testimonial Avatar')
            h2 "Lorem ipsum dolor sit amet, nullam lucia nisi."
            p.author Peter Finlan, Product Designer.
          li
            .avatar
              img(src='img/mani.jpg', alt='Sedna Testimonial Avatar')
            h2 "Nunc vel maximus purus. Nullam ac urna ornare."
            p.author Manoela Ilic, Founder @ Codrops.
          li
            .avatar
              img(src='img/130.jpg', alt='Sedna Testimonial Avatar')
            h2 "Nullam ac urna ornare, ultrices nisl ut, lacinia nisi."
            p.author Blaz Robar, Pixel Guru
