extends layout

block content
  h1(style='text-align=center') TruRecruit
  p.lead We do cool stuff.
  hr
  a.btn.btn-default(href='#', role='button') View details »
  img(href='https://pbs.twimg.com/media/CaU93W2UUAEp_kA.jpg')
