extends layout

.container
  .row
    .col-md-10.col-md-offset-1
      .hero-content.text-center
        h1 Accepts Resumes Digitally at Career Fairs
        p.intro
          | Tru Recruit is a platform that steamlines the flow of resumes from job fairs into your Application Tracking System.
        a.btn.btn-accent.btn-large.btn-margin-right(href='#') Upload Resume
        a.btn.btn-accent.btn-large(href='#') Start Scanning
.down-arrow.floating-arrow
  a(href='#')
    i.fa.fa-angle-down
section#features.features.section-padding
      .container
        .row
          .col-md-5.col-md-offset-7
            .feature-list
              h3 How Does Tru Recruit Work?
              p Tru Recruit makes large scale recuirt easy and painless.
              ul.features-stack
                li.feature-item
                  .feature-icon
                    span.icon(data-icon='')
                  .feature-content
                    h5 Scan in Canidates
                    p Painlessly scan in a canidate's unique QR code
                li.feature-item
                  .feature-icon
                    span.icon(data-icon='')
                  .feature-content
                    h5 Manage Resumes
                    p
                      | Once scanned, resumes appear instantly on any connect laptop or tablet, and is immediately injected into the databaser
                li.feature-item
                  .feature-icon
                    span.icon(data-icon='')
                  .feature-content
                    h5 Export Data
                    p Be able to export canidate data in a variety of formats
      .device-showcase
        .devices
          .ipad-wrap.wp1
          .iphone-wrap.wp2
      .responsive-feature-img
        img(src='img/devices.png', alt='responsive devices')
    section#assets.features-extra.section-padding
      .container
        .row
          .col-md-5
            .feature-list
              h3 Manage online
              p
                | Nam vehicula malesuada lectus, interdum fringilla nibh. Duis aliquam vitae metus a pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum augue quis augue ornare, eget faucibus felis pharetra. Proin condimentum et leo quis fringilla.
              a.btn.btn-ghost.btn-accent.btn-small(href='#') What's Sketch?
      .macbook-wrap.wp3
      .responsive-feature-img
        img(src='img/macbook-pro.png', alt='responsive devices')
    section.hero-strip.section-padding
      .container
        .col-md-12.text-center
          h2
            | Download Our Mobile App!
          p
          a.btn.btn-ghost.btn-accent.btn-large(href='#') Download now!
    section#about.blog-intro.section-padding
      .container
        .row
          .col-md-12
            h3 Trust your recruitment in a company that cares
        .row
          .col-md-6.col-sm-12.col-xs-12.leftcol
            h5 WE FIT IN ANY COMPANY
            p
              | Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .col-md-6.col-sm-12.col-xs-12.rightcol
            h5 FLEXIBILE TO YOUR COMPANY AT ANY SIZE
            p
              | Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    section.testimonial-slider.section-padding.text-center
      .container
        .row
          .col-md-12
            .flexslider
              ul.slides
                li
                  .avatar
                    img(src='img/avatar.jpg', alt='Sedna Testimonial Avatar')
                  h2 "Lorem ipsum dolor sit amet, nullam lucia nisi."
                  p.author Peter Finlan, Product Designer.
                li
                  .avatar
                    img(src='img/mani.jpg', alt='Sedna Testimonial Avatar')
                  h2 "Nunc vel maximus purus. Nullam ac urna ornare."
                  p.author Manoela Ilic, Founder @ Codrops.
                li
                  .avatar
                    img(src='img/130.jpg', alt='Sedna Testimonial Avatar')
                  h2 "Nullam ac urna ornare, ultrices nisl ut, lacinia nisi."
                  p.author Blaz Robar, Pixel Guru
    section#download.sign-up.section-padding.text-center
      .container
        .row
          .col-md-6.col-md-offset-3
            h3 Get started with TruRecruit
            p Start your company today!
            form.signup-form(action='#', method='POST', role='form')
              .form-input-group
                i.fa.fa-envelope
                input(type='text', placeholder='Enter your email', required='')
              .form-input-group
                i.fa.fa-lock
                input(type='text', placeholder='Enter your password', required='')
              button.btn-fill.sign-up-btn(type='submit') Sign up for free
    section.to-top
      .container
        .row
          .to-top-wrap
            a.top(href='#top')
              i.fa.fa-angle-up
